ENVIRONMENT=development
DEBUG=true
ALLOWED_ORIGINS=["*"]
API_PREFIX=/api/v1

# redis配置
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=

# 数据库配置
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# 连接池配置
DB_ECHO=false
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_RECYCLE=3600
DB_POOL_TIMEOUT=30

# JWT 配置
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# MinIO 配置
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SECURE=false
MINIO_BUCKET=app-files
MINIO_USE_HTTPS_URL=false

# Gunicorn配置
WORKERS=8

# LLM
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com

# Chroma
CHROMA_HOST=your_server_ip
CHROMA_PORT=